---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import InlineNavigation from "../components/InlineNavigation.astro";
import Footer from "../components/Footer.astro";
import { getAllCompanies } from "../domain/company/lib";
import {
  getAllCaseStudiesByCompany,
  getYearsRange,
} from "../domain/caseStudy/lib";
import CaseStudiesList from "../components/CaseStudiesList.astro";
import { SITE_DESCRIPTION, SITE_NAME, SITE_URL } from "../config";
import Factoids from "../components/Factoids.astro";

const companies = (await getAllCompanies()).sort((a, b) =>
  a.data.name.localeCompare(b.data.name)
);
const caseStudiesByCompany = await getAllCaseStudiesByCompany();
const allCaseStudies = Object.values(caseStudiesByCompany).flatMap(
  (item) => item ?? []
);
const yearsRange = getYearsRange(allCaseStudies);
---

<BaseLayout title={SITE_NAME} description={SITE_DESCRIPTION}>
  <link
    slot="rss"
    rel="alternate"
    type="application/rss+xml"
    title={SITE_NAME}
    href={new URL("rss.xml", SITE_URL)}
  />

  <Header slot="header" />

  <main slot="main">
    <Factoids
      companiesCount={companies.length}
      caseStudiesCount={allCaseStudies.length}
      yearsRange={yearsRange}
    />
    <InlineNavigation items={companies} />

    <div class="companies">
      {
        companies.map((company) => {
          const caseStudies = caseStudiesByCompany[company.id];

          if (!caseStudies) {
            return null;
          }

          return (
            <section>
              <h2 id={company.id}>
                <a href={`/companies/${company.id}`}>{company.data.name}</a>
                <sup>{caseStudies.length}</sup>
              </h2>

              <CaseStudiesList items={caseStudies} />
            </section>
          );
        })
      }
    </div>
  </main>

  <Footer slot="footer" />
</BaseLayout>

<style>
  h2 {
    margin-block-start: 2rem;
    font-size: 2.5rem;
    position: relative;
  }

  h2 > a {
    text-decoration: none;
  }

  h2 > sup {
    color: var(--color-muted);
  }

  @media (min-width: 60rem) {
    .companies {
      display: grid;
      grid-template-columns: minmax(40px, max-content) 1fr;
      gap: 1rem;
    }

    section {
      display: contents;
    }

    h2 {
      grid-column: 2 / -1;
    }
  }
</style>
