---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getAllCompanies, getCompany } from "@/domain/company/lib";
import { getAllCaseStudiesByCompany } from "@/domain/caseStudy/lib";
import CaseStudiesList from "@/components/CaseStudiesList.astro";
import { SITE_DESCRIPTION, SITE_NAME } from "@/config";
import RssLink from "@/components/RssLink.astro";
import RssMetaLink from "@/components/RssMetaLink.astro";

export async function getStaticPaths() {
  const pages = await getAllCompanies();

  return pages.map((page) => ({
    params: {
      company: page.id,
    },
  }));
}

const company = await getCompany(Astro.params.company);
const caseStudiesByCompany = await getAllCaseStudiesByCompany();
const caseStudies = caseStudiesByCompany[company.id] ?? [];

const websiteUrlPreview = new URL(company.data.websiteUrl).host.replace(
  /^www\./,
  ""
);

const title = `${company.data.name} Case Studies`;
const rssFeedLink = `${Astro.originPathname}/rss.xml`;
---

<BaseLayout title={title} description={SITE_DESCRIPTION}>
  <RssMetaLink
    slot="rss"
    title={`${company.data.name} case studies RSS feed`}
    href={rssFeedLink}
  />

  <div class="company">
    <h2>{company?.data.name}</h2>
    <p class="subtitle">
      {
        [
          <a href={company.data.websiteUrl}>{websiteUrlPreview}</a>,
          company.data.blogUrl ? (
            <a href={company.data.blogUrl}>Engineering blog</a>
          ) : null,
          <>
            {caseStudies.length} case{" "}
            <span class="nobr">
              {caseStudies.length > 1 ? "studies" : "study"}
              <RssLink href={rssFeedLink} />
            </span>
          </>,
        ]
          .filter(Boolean)
          .reduce(
            (result, item) =>
              result === null ? (
                item
              ) : (
                <>
                  {result} • {item}
                </>
              ),
            null
          )
      }
    </p>
  </div>

  <CaseStudiesList items={caseStudies} />
</BaseLayout>

<style>
  h2 {
    font-size: 3.5rem;
  }

  .subtitle {
    color: var(--color-muted);
    font-size: 1.5rem;
  }

  @media (min-width: 66rem) {
    .company {
      grid-column: main;
    }

    h2 {
      margin-block: 0.5rem;
    }
  }
</style>
